<html>
    <head>
        <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'></script>
        <script src='/socket.io/socket.io.js'></script>
        <script src='http://jtemplates.tpython.com/jquery-jtemplates.js'></script>
        <script src='/javascripts/underscore.js'></script>
        <script src='/javascripts/multio.js'></script>
        <script src='/javascripts/uchat.js'></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono">
        <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    </head>
    <body>
        <div id='wrapper'>
        </div>

        <textarea id='joined-jtpl' style='display:none'>
            <li class='joined'><span class='timestamp'>{u.timeString($T.time)}</span><span class='joined-name clickable-name'>{$T.name}</span><span class='joined'>joined</span></li>
        </textarea>

        <textarea id='left-jtpl' style='display:none'>
            <li class='left'><span class='timestamp'>{u.timeString($T.time)}</span><span class='left-name clickable-name'>{$T.name}</span><span class='left'>left</span></li>
        </textarea>

        <textarea id='msg-jtpl' style='display:none'>
            <li {#if $T.directedAtYou}class='attn'{#/if}><span class='timestamp'>{u.timeString($T.time)}</span><span class='msg-name clickable-name'>{$T.name}</span><span class='msg'>{$T.msg}</span></li>
        </textarea>

        <textarea id='cmd-jtpl' style='display:none'>
            <li class='cmd-msg'>{$T.msg}</li>
        </textarea>

        <textarea id='cmd-err-jtpl' style='display:none'>
            <li class='cmd-msg err'>{$T.msg}</li>
        </textarea>

        <textarea id='listusers-jtpl' style='display:none'>
            <li class='cmd-msg'>People in this room:</li>
            {#foreach $T.usernames as username}
            <li class='cmd-msg listusers-user'><span class='clickable-name'>{$T.username}</span></li>
            {#else}
            <li class='cmd-msg'>None</li>
            {/#for}
        </textarea>

        <script type='text/javascript'>
            var socket = new io.Socket(),
                u = UCHAT($('#wrapper'), socket);
            $('#wrapper').append(u.status_msg);
            $('#wrapper').append(u.join_form);
            $('#wrapper').append(u.msgs);
            $('#wrapper').append(u.msg_bar);

            socket.on('disconnect', function () {
                u.userError('Disconnected!');
                $(u.msg_text).attr('disabled', 'disabled');
                $(u.join_form).show();
                $(u.name_text).hide();
                $(u.status_msg).show();
                u.tryConnect();
            });

        </script>
    </body>
</html>
